name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Клонируем репозиторий
    - uses: actions/checkout@v3

    # 2. Устанавливаем JDK 17
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 17

    # 3. Устанавливаем Android SDK
    - name: Install Android SDK
      uses: android-actions/setup-android@v2
      with:
        api-level: 33
        build-tools: 33.0.2

    # 4. Собираем APK через глобальный Gradle
    - name: Build APK
      run: gradle :android:assembleDebug

    # 5. Загружаем APK как артефакт
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: SurviveGame-APK
        path: android/build/outputs/apk/debug/android-debug.apk
